header {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 63, 107);
}

h1 {
    color: white;
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    padding: 0px 20px;
    font-size: 125%;
}

nav a {
    color: white;
    text-decoration: none;
    border-bottom: 5px solid white;
}

/* Example provided by the background image in Challenge 01 */
.bg-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/placeholder.png");
    background-size: cover;
    background-position: center;
}

#about-me,
#work,
#contact-me {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20%;
}

#work div {
    display: flex;
    flex-wrap: wrap;
}

#work img {
    width: 50%;
    padding: 2%;
}

#work #first-work {
    width: 100%;
}